@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


section {
    background-color: black;
    height: 100vh;
    width: 100wh;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.div-hero{
    z-index: 30;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero-header {
    z-index: 30;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: end;
    z-index: 30;
    padding-bottom: 120px;
}

.hero-footer-a{
    color: black;
    border: 2px solid white;
    background-color: white;
    border-radius: 5px;
    padding: 12px;
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    width: 250px;
}

.hero-footer-a:hover{
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.hero-title, .hero-description{
    color: white;
}

h1{
    color: currentColor;
    padding-top: 160px;
    margin: 0;
    font-size: 40px;
}

p{
    margin: 0;
    font-size: 14px;
    font-style: normal;
    color: currentColor;
}

.div-video{
    position: absolute;
    top: 0;
    bottom: 0;
}